.main-menu-panel {
    background-color: rgb(20, 20, 20);
    flex-grow: 1;
}

.row-button {
    margin: 15px 15px 15px 50px;
    width: 200px;
}

.row {
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
    height: 60px;
}

.title {
    margin-left: 10px;
    width: 175px;
}

.unity-button-group {
    flex-direction: row;
}

.statistics-toggle-button-group-container {
    top: -60px;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 200px;
    position: absolute;
    right: 25px;
}

#SubViewContent {
    flex-grow: 1;
    width: auto;
    height: auto;
}

.statistics-subview {
    flex-grow: 1;
}

#ExportStatisticsRow {
    height: 98px;
}

#GuideImageContainer {
    flex-grow: 1;
    background-image: url("project://database/Assets/VR_Koni/GUI/UI_Toolkit/MainMenu/Images/Controller_Scematic_beschriftet_PNG_transparent.png");
}

#HomeViewDescriptionText {
    white-space: normal;
}

#VolumeSliderLabelContainer {
    justify-content: center;
    flex-grow: 1;
}

#VolumeSliderExplanationLabel {
    font-size: 20px;
    margin: 0;
}

#VolumeSlider {
    width: 350px;
}

#VolumeSliderLabel {
    font-size: 18px;
    margin: 0;
}

#LanguageSelectorLabelContainer {
    justify-content: center;
    flex-grow: 1;
}

#LanguageLabel {
    font-size: 18px;
    margin: 0;
}

#LanguageDropdownSelector {
    width: 350px;
}

#TutorialContent {
    align-items: center;
    justify-content: center;
}

#OpenTutorialsScreenButton {
    width: 450px;
    height: 100px;
    font-size: 30px;
    -unity-font-style: bold;
}

