.unity-text-field__label {
    color: rgb(245, 245, 245);
}

.unity-base-field__input {
    background-color: rgb(49, 49, 49);
}

.unity-text-element--inner-input-field-component {
    color: rgb(203, 203, 203);
}

#unity-text-input{
    border-radius: 14px;
    font-size: 20px;
}